main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 10px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    width: 100%;
    max-width: 650px;
    padding: 10px;
    margin: 0 0 10px;
    border-radius: 5px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    gap: 15px;
    width: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
  }
  
  .card {
    aspect-ratio: 4/5;
    width: 90%;
    border-radius: 10px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #05164d89;
  }
  
  .face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 5px solid #bda371b6;
    border-radius: 10px;
    transition: all 400ms ease;
  }
  
  .front {
    transform: rotateY(180deg);
  }
  
  .back {
    background-image: url('../images/backmap.png');
    backface-visibility: hidden;
  }
  
  .reveal-card {
    transform: rotateY(180deg);
  }
  
  .disabled-card {
    filter: saturate(0);
    opacity: 0.5;
  }
  
  @media screen and (max-width:920px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
  
    }
  }